.support-overlay
/*IRANSans*/

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/IRANSans/eot/IRANSansWeb_Bold.eot);
    src: url(../assets/fonts/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2) format("woff2"), url(../assets/fonts/IRANSans/woff/IRANSansWeb_Bold.woff) format("woff"), url(../assets/fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf) format("truetype")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url(../assets/fonts/IRANSans/eot/IRANSansWeb_Medium.eot);
    src: url(../assets/fonts/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2) format("woff2"), url(../assets/fonts/IRANSans/woff/IRANSansWeb_Medium.woff) format("woff"), url(../assets/fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf) format("truetype")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url(../assets/fonts/IRANSans/eot/IRANSansWeb_Light.eot);
    src: url(../assets/fonts/IRANSans/eot/IRANSansWeb_Light.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/IRANSans/woff2/IRANSansWeb_Light.woff2) format("woff2"), url(../assets/fonts/IRANSans/woff/IRANSansWeb_Light.woff) format("woff"), url(../assets/fonts/IRANSans/ttf/IRANSansWeb_Light.ttf) format("truetype")
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url(../assets/fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot);
    src: url(../assets/fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2) format("woff2"), url(../assets/fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff) format("woff"), url(../assets/fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf) format("truetype")
}

#section-step {
    background: linear-gradient(228deg, rgba(0, 193, 236, 1) 0%, rgba(122, 197, 79, 1) 100%);
    background-attachment: fixed;
    font-family: IRANSans;
    min-height: 100vh;
}

/* ----------  Form  ------------  */
.gui-input,
.gui-select {
    width: 100%;
    color: #747474;
    font-size: 13px;
    border: 1px solid #bbb;
    padding: 8px 52px 8px 20px;
    border-radius: 24px;
    -webkit-appearance: none;
    transition: 0.5s;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.gui-input:focus,
.gui-select:focus {
    background-color: #cef6fe47 !important;
    border-color: #a0bdda;
    color: #019ad3;
    border: 1px solid #b4c4da;
    box-shadow: none;
    outline: none;
    outline: none !important;
}
.gui-input::placeholder {
    font-size: 10px;
    color: #c0bcbc;
}
.gui-input.error {
    border-color: red;
    color: red;
}
.gui-select.error {
    border-color: red;
    color: red;
}
.gui-icon.error {
    color: red;
}
.gui-label {
    font-size: 12px;
    padding-bottom: 5px;
    display: block;
    color: #5b5b5b;
}
.gui-textarea {
    width: 100%;
    color: #747474;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 7px 7px;
    transition: 0.5s;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    text-align: right;
    outline-color: transparent;
    font-size: 13px;
    resize: none;
}
.gui-textarea:focus {
    background-color: #cef6fe47 !important;
    border-color: #a0bdda;
    color: #019ad3;
    border: 1px solid #b4c4da;
    box-shadow: none;
    outline: none;
    outline: none !important;
}
.gui-textarea::placeholder {
    font-size: 11px;
    color: #c8c6c6;
}
.gui-select {
    padding-right: 15px;
    outline: 0;
}
.check-shetab {
    position: absolute;
    width: 180px;
    left: 0px;
    top: 7px;
}
.icon-gui,
.icon-select {
    position: absolute;
    height: 39px;
    width: 45px;
    right: 15px;
    top: -7px;
    border-radius: 24px;
    color: #333;
}
.icon-select {
    pointer-events: none;
}
.icon-select {
    right: inherit;
    left: 0;
}
.btn-web,
.btn-webb,
.btn-prv {
    background: #58bb58;
    font-family: iransans;
    outline: transparent;
    border: none;
    padding: 5px 20px;
    border-radius: 24px;
    width: 110px;
    color: #fff;
    border: 1px solid #58bb58;
    transition: 0.5s;
}
.btn-web:hover {
    background: #539e53;
}
.btn-web:disabled {
    background: #77756b;
}
.btn-no {
    background: #bb0e25;
    font-family: iransans;
    outline: transparent;
    border: none;
    padding: 5px 20px;
    border-radius: 24px;
    width: 110px;
    color: #fff;
    border: 1px solid #bb001a;
    transition: 0.5s;
    margin-right: 23px;
}
.btn-no:hover {
    background: #9e0100;
}
.btn-no:disabled {
    background: #77756b;
}
.btn-prv {
    background: transparent;
    border: 1px solid #666666;
    color: #666;
    text-align: center;
    display: block;
    transition: 0.5s;
}
.btn-prv:hover {
    background: #666;
    color: #fff;
    border-color: transparent;
}
.inlin-block {
    display: inline-block;
}
.btn-web:disabled {
    background: #eee;
    color: #666;
    border: none;
}
.message-css {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
    left: 20px;
    bottom: 20px;
    border-radius: 5px;
    color: #fff;
    background: #8bc34a;
}
em.error {
    padding: 5px 25px;
    color: #f10000;
    font-size: 11px;
}
.color6 {
    color: #666;
}
.color-darkgray {
    color: #a9a9a9;
}